In [1]:
import pandas as pd
import numpy as np

In [40]:
lchain_data = pd.read_csv('http://vincentarelbundock.github.io/Rdatasets/csv/survival/flchain.csv', index_col = 0)
lchain_data.head()

,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death,chapter
1,97,F,1997,5.70,4.860,10,1.7,0,85,1,Circulatory
2,92,F,2000,0.87,0.683,1,0.9,0,1281,1,Neoplasms
3,94,F,1997,4.36,3.850,10,1.4,0,69,1,Circulatory
4,92,F,1996,2.42,2.220,9,1.0,0,115,1,Circulatory
5,93,F,1996,1.32,1.690,6,1.1,0,1039,1,Circulatory

In [6]:
lchain_data.shape

(7874, 11)

In [7]:
lchain_data.describe()

,age,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death
count,7874.000000,7874.000000,7874.000000,7874.000000,7874.000000,6524.000000,7874.000000,7874.000000,7874.000000
mean,64.293117,1996.790831,1.430881,1.702624,5.470536,1.093516,0.014605,3661.042291,0.275464
std,10.462719,1.765156,0.896774,1.030732,2.863011,0.416507,0.119973,1432.677330,0.446776
min,50.000000,1995.000000,0.010000,0.040000,1.000000,0.400000,0.000000,0.000000,0.000000
25%,55.000000,1996.000000,0.960000,1.200000,3.000000,0.900000,0.000000,2852.000000,0.000000
50%,63.000000,1996.000000,1.270000,1.510000,5.000000,1.000000,0.000000,4302.000000,0.000000
75%,72.000000,1997.000000,1.680000,1.920000,8.000000,1.200000,0.000000,4773.000000,1.000000
max,101.000000,2003.000000,20.500000,26.600000,10.000000,10.800000,1.000000,5215.000000,1.000000

In [8]:
lchain_data.age.describe()

count    7874.000000
mean       64.293117
std        10.462719
min        50.000000
25%        55.000000
50%        63.000000
75%        72.000000
max       101.000000
Name: age, dtype: float64

In [10]:
lchain_data.rename(columns={'chapter':'cause'}, inplace=True)

,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death,cause
1,97,F,1997,5.700,4.860,10,1.7,0,85,1,Circulatory
2,92,F,2000,0.870,0.683,1,0.9,0,1281,1,Neoplasms
3,94,F,1997,4.360,3.850,10,1.4,0,69,1,Circulatory
4,92,F,1996,2.420,2.220,9,1.0,0,115,1,Circulatory
5,93,F,1996,1.320,1.690,6,1.1,0,1039,1,Circulatory
...,...,...,...,...,...,...,...,...,...,...,...
7870,52,F,1995,1.210,1.610,6,1.0,0,4997,0,NaN
7871,52,F,1999,0.858,0.581,1,0.8,0,3652,0,NaN
7872,54,F,2002,1.700,1.720,8,NaN,0,2507,0,NaN
7873,53,F,1995,1.710,2.690,9,NaN,0,4982,0,NaN
7874,50,F,1998,1.190,1.250,4,0.7,0,3995,0,NaN

In [28]:
lchain_data.head()
lchain_data.tail()
lchain_data.iloc[10]         # podle cisla radku
lchain_data.iloc[0,3]        # vyber bunky
lchain_data.loc[1,'kappa']   # totéž, ale použijeme jméno sloupce
lchain_data['age']           # vyber sloupce
lchain_data[['age','kappa']] # vyber vice sloupcu

lchain_data[5:10]
lchain_data[:10]             # vyber n radku

lchain_data.loc[[1,3], ['age','sex','kappa']]    # Výběr více sloupců a řádků
lchain_data.loc[1:3, ['age','sex','kappa']]
lchain_data.iloc[:, 0:3]

lchain_data.sample(n = 10)                           # Náhodný výběr

,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death,chapter
6452,51,M,1996,0.395,0.337,1,1.3,0,4652,0,NaN
7288,50,F,1996,0.070,0.800,1,1.0,1,4788,0,NaN
1933,72,F,1995,1.150,1.350,4,0.9,0,4534,1,Nervous
4923,56,F,1996,0.372,1.460,2,0.9,1,4703,0,NaN
4734,56,F,1996,0.420,0.910,1,0.9,0,4740,0,NaN
2224,72,M,1996,1.090,3.560,9,1.2,0,3975,0,NaN
4759,58,F,1996,0.710,1.540,3,0.9,0,4886,0,NaN
6486,53,M,1997,1.150,1.220,4,1.0,0,4458,0,NaN
3858,64,M,1995,1.730,1.830,8,1.1,0,4985,0,NaN
7249,51,F,1998,0.943,1.460,4,0.9,0,3898,0,NaN

In [32]:
lchain_data.iloc[:20].loc[:,['age','sex','kappa','lambda','mgus']].describe(include='all')

              age  sex      kappa     lambda  mgus
count   20.000000   20  20.000000  20.000000  20.0
unique        NaN    1        NaN        NaN   NaN
top           NaN    F        NaN        NaN   NaN
freq          NaN   20        NaN        NaN   NaN
mean    92.550000  NaN   2.304050   2.559150   0.0
std      2.438183  NaN   1.387092   1.457104   0.0
min     90.000000  NaN   0.430000   0.683000   0.0
25%     90.000000  NaN   1.462500   1.735000   0.0
50%     92.500000  NaN   1.960000   2.200000   0.0
75%     94.000000  NaN   2.627500   2.987500   0.0
max     97.000000  NaN   5.700000   6.700000   0.0

In [36]:
lchain_data.index = 'pat' + lchain_data.index.astype(str)
lchain_data.head()

,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death,chapter
patpat1,97,F,1997,5.70,4.860,10,1.7,0,85,1,Circulatory
patpat2,92,F,2000,0.87,0.683,1,0.9,0,1281,1,Neoplasms
patpat3,94,F,1997,4.36,3.850,10,1.4,0,69,1,Circulatory
patpat4,92,F,1996,2.42,2.220,9,1.0,0,115,1,Circulatory
patpat5,93,F,1996,1.32,1.690,6,1.1,0,1039,1,Circulatory

In [37]:
lchain_data.reset_index()

,index,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death,chapter
0,patpat1,97,F,1997,5.700,4.860,10,1.7,0,85,1,Circulatory
1,patpat2,92,F,2000,0.870,0.683,1,0.9,0,1281,1,Neoplasms
2,patpat3,94,F,1997,4.360,3.850,10,1.4,0,69,1,Circulatory
3,patpat4,92,F,1996,2.420,2.220,9,1.0,0,115,1,Circulatory
4,patpat5,93,F,1996,1.320,1.690,6,1.1,0,1039,1,Circulatory
...,...,...,...,...,...,...,...,...,...,...,...,...
7869,patpat7870,52,F,1995,1.210,1.610,6,1.0,0,4997,0,NaN
7870,patpat7871,52,F,1999,0.858,0.581,1,0.8,0,3652,0,NaN
7871,patpat7872,54,F,2002,1.700,1.720,8,NaN,0,2507,0,NaN
7872,patpat7873,53,F,1995,1.710,2.690,9,NaN,0,4982,0,NaN
7873,patpat7874,50,F,1998,1.190,1.250,4,0.7,0,3995,0,NaN

In [39]:
lchain_data.set_index('age')

,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death,chapter
age,,,,,,,,,,
97,F,1997,5.700,4.860,10,1.7,0,85,1,Circulatory
92,F,2000,0.870,0.683,1,0.9,0,1281,1,Neoplasms
94,F,1997,4.360,3.850,10,1.4,0,69,1,Circulatory
92,F,1996,2.420,2.220,9,1.0,0,115,1,Circulatory
93,F,1996,1.320,1.690,6,1.1,0,1039,1,Circulatory
...,...,...,...,...,...,...,...,...,...,...
52,F,1995,1.210,1.610,6,1.0,0,4997,0,NaN
52,F,1999,0.858,0.581,1,0.8,0,3652,0,NaN
54,F,2002,1.700,1.720,8,NaN,0,2507,0,NaN
53,F,1995,1.710,2.690,9,NaN,0,4982,0,NaN
50,F,1998,1.190,1.250,4,0.7,0,3995,0,NaN

In [44]:
lchain_data['lambda_dec'] = lchain_data['lambda'].astype(str).str.split('.').str.get(1)
lchain_data
# vytvareni novych sloupcu

,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death,chapter,lambda_dec
1,97,F,1997,5.700,4.860,10,1.7,0,85,1,Circulatory,86
2,92,F,2000,0.870,0.683,1,0.9,0,1281,1,Neoplasms,6829999999999999
3,94,F,1997,4.360,3.850,10,1.4,0,69,1,Circulatory,85
4,92,F,1996,2.420,2.220,9,1.0,0,115,1,Circulatory,22
5,93,F,1996,1.320,1.690,6,1.1,0,1039,1,Circulatory,69
...,...,...,...,...,...,...,...,...,...,...,...,...
7870,52,F,1995,1.210,1.610,6,1.0,0,4997,0,NaN,61
7871,52,F,1999,0.858,0.581,1,0.8,0,3652,0,NaN,581
7872,54,F,2002,1.700,1.720,8,NaN,0,2507,0,NaN,72
7873,53,F,1995,1.710,2.690,9,NaN,0,4982,0,NaN,69
7874,50,F,1998,1.190,1.250,4,0.7,0,3995,0,NaN,25

In [45]:
# Zjistit všechny hodnoty ve sloupci
lchain_data['sex'].unique()

array(['F', 'M'], dtype=object)

In [48]:
# Vyměnit jeden řetězec za druhý
lchain_data['sex'] = lchain_data['sex'].str.replace('F', 'female')
lchain_data['sex'] = lchain_data['sex'].str.replace('M', 'male')
lchain_data

,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death,chapter,lambda_dec
1,97,female,1997,5.700,4.860,10,1.7,0,85,1,Circulatory,86
2,92,female,2000,0.870,0.683,1,0.9,0,1281,1,Neoplasms,6829999999999999
3,94,female,1997,4.360,3.850,10,1.4,0,69,1,Circulatory,85
4,92,female,1996,2.420,2.220,9,1.0,0,115,1,Circulatory,22
5,93,female,1996,1.320,1.690,6,1.1,0,1039,1,Circulatory,69
...,...,...,...,...,...,...,...,...,...,...,...,...
7870,52,female,1995,1.210,1.610,6,1.0,0,4997,0,NaN,61
7871,52,female,1999,0.858,0.581,1,0.8,0,3652,0,NaN,581
7872,54,female,2002,1.700,1.720,8,NaN,0,2507,0,NaN,72
7873,53,female,1995,1.710,2.690,9,NaN,0,4982,0,NaN,69
7874,50,female,1998,1.190,1.250,4,0.7,0,3995,0,NaN,25

In [71]:
# Zjistit duplikátní hodnoty
lchain_data[lchain_data['age'].duplicated(keep='first')]

,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death,chapter,lambda_dec
4,92,female,1996,2.420,2.220,9,1.0,0,115,1,Circulatory,22
7,90,female,1996,0.430,0.880,1,0.8,0,2851,1,Mental,88
8,90,female,1999,2.470,2.700,10,1.2,0,372,1,Nervous,7
9,93,female,1996,1.910,2.180,9,1.2,0,3309,1,Respiratory,18
12,90,female,1996,3.960,3.950,10,1.1,0,1046,1,Respiratory,95
...,...,...,...,...,...,...,...,...,...,...,...,...
7870,52,female,1995,1.210,1.610,6,1.0,0,4997,0,NaN,61
7871,52,female,1999,0.858,0.581,1,0.8,0,3652,0,NaN,581
7872,54,female,2002,1.700,1.720,8,NaN,0,2507,0,NaN,72
7873,53,female,1995,1.710,2.690,9,NaN,0,4982,0,NaN,69
7874,50,female,1998,1.190,1.250,4,0.7,0,3995,0,NaN,25

In [76]:
lchain_data[lchain_data['age'].duplicated(keep='first') == False]

,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death,chapter,lambda_dec
1,97,female,1997,5.700,4.860,10,1.7,0,85,1,Circulatory,86
2,92,female,2000,0.870,0.683,1,0.9,0,1281,1,Neoplasms,6829999999999999
3,94,female,1997,4.360,3.850,10,1.4,0,69,1,Circulatory,85
5,93,female,1996,1.320,1.690,6,1.1,0,1039,1,Circulatory,69
6,90,female,1997,2.010,1.860,9,1.0,0,1355,1,Mental,86
10,91,female,1996,0.791,2.220,6,0.8,0,1326,1,Circulatory,22
11,96,female,1996,2.380,2.170,9,1.3,0,2776,1,Circulatory,17
18,95,female,1997,1.880,2.430,9,1.9,0,874,1,Circulatory,43
27,101,female,1996,1.540,1.730,7,1.0,0,4,1,Injury and Poisoning,73
54,100,female,1999,1.820,3.250,10,1.6,0,0,1,Circulatory,25
56,99,female,1996,1.300,1.920,7,1.0,0,1960,1,Circulatory,92
105,80,male,1997,1.280,1.770,6,1.1,0,3336,1,Blood,77
106,84,male,1996,2.940,2.130,10,1.3,0,3329,0,NaN,13
107,82,male,1996,1.470,1.880,7,1.2,0,3096,1,Neoplasms,88
109,86,male,1996,3.950,3.270,10,2.0,0,2819,1,Genitourinary,27
110,83,male,1995,1.900,2.710,9,1.3,0,4964,0,NaN,71
113,81,male,1996,2.050,2.500,9,1.4,0,921,1,External Causes,5
116,85,male,1996,1.320,2.070,8,NaN,0,420,1,Digestive,07
122,89,male,1996,10.400,11.200,10,1.6,0,392,1,Neoplasms,2
128,88,male,1998,3.100,3.140,10,1.8,0,1261,1,Respiratory,14
130,87,male,1997,5.110,5.680,10,1.6,0,124,1,Circulatory,68
766,75,male,1996,1.620,2.490,9,1.2,0,3934,1,Respiratory,49
767,76,male,1995,1.780,2.430,9,1.1,0,4736,1,Ill Defined,43
768,77,male,1996,1.150,1.290,4,1.1,0,4605,0,NaN,29
771,78,male,1995,1.850,1.460,7,1.2,0,1517,1,External Causes,46
788,79,male,1996,2.600,2.420,10,1.2,0,2217,1,Circulatory,42
1443,73,female,1996,0.690,0.890,1,1.0,0,4870,0,NaN,89
1444,70,female,1996,1.280,2.160,8,0.9,0,4531,1,Respiratory,16
1445,72,female,1996,1.340,0.900,3,0.8,0,4429,1,Neoplasms,9
1450,74,female,1996,0.927,1.300,3,0.9,0,4723,0,NaN,3
1455,71,female,1997,0.887,1.100,2,0.8,0,4443,0,NaN,1
2389,66,male,1996,1.310,1.560,6,1.3,0,4683,0,NaN,56
2392,68,male,1996,0.930,1.360,3,1.0,0,4927,0,NaN,36
2393,69,male,1996,2.020,2.240,9,1.1,0,3563,1,Circulatory,24
2394,67,male,1996,0.989,1.010,2,1.3,0,4612,0,NaN,01
2395,65,male,1995,0.380,1.350,1,NaN,0,4971,0,NaN,35
3502,62,male,1995,1.490,2.400,9,1.3,0,4956,0,NaN,4
3503,64,male,1996,1.640,1.920,8,NaN,0,4788,0,NaN,92
3504,61,male,1996,2.030,1.990,9,NaN,0,2997,1,Neoplasms,99
3507,60,male,2003,2.570,1.850,9,NaN,0,2174,0,NaN,85
3512,63,male,1996,0.118,0.047,1,1.1,1,2513,1,External Causes,047
4718,55,female,1998,1.090,1.240,3,0.8,0,812,0,NaN,24
4721,57,female,1996,1.190,1.150,4,0.9,0,1897,0,NaN,15
4725,58,female,1996,0.777,1.100,2,NaN,0,4736,0,NaN,1
4726,59,female,1996,1.890,1.700,8,0.9,0,4752,0,NaN,7
4727,56,female,1998,0.780,1.740,4,1.0,0,3975,0,NaN,74
6198,54,male,1999,1.450,1.230,5,1.0,0,3809,0,NaN,23
6199,53,male,2000,1.240,1.500,5,1.3,0,3299,0,NaN,5
6201,52,male,1998,1.400,1.690,7,1.1,0,4131,0,NaN,69
6202,50,male,1999,0.685,1.290,2,1.0,0,3666,0,NaN,29
6204,51,male,1996,0.670,1.730,4,1.0,0,4900,0,NaN,73

In [78]:
# Zjistit kde jsou chybející data
# opačná funkce - .notnull()
lchain_data.isnull().any()

age           False
sex           False
sample.yr     False
kappa         False
lambda        False
flc.grp       False
creatinine     True
mgus          False
futime        False
death         False
chapter        True
lambda_dec    False
dtype: bool

In [79]:
len(lchain_data)

7874

In [81]:
sum(lchain_data['creatinine'].isnull())/len(lchain_data)

0.1714503429006858

In [82]:
lchain_data[lchain_data['creatinine'].isnull()].head()

,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death,chapter,lambda_dec
16,90,female,1997,1.510,1.46,6,NaN,0,1626,1,Circulatory,46
22,93,female,1997,0.391,0.33,1,NaN,0,312,1,Respiratory,33
86,94,male,1997,1.670,1.92,8,NaN,0,73,1,Circulatory,92
91,92,male,2000,4.660,5.96,10,NaN,0,110,1,Mental,96
108,80,male,2000,1.990,1.56,8,NaN,0,692,1,Neoplasms,56

In [84]:
# Zbavit se řádků obsahujících NaN
len(lchain_data['creatinine'].dropna(axis=0, how='all'))

6524

In [90]:
sum(lchain_data.isnull().any())

2

In [91]:
len(lchain_data.columns)

12

In [93]:
# thresh - kolik musí být nenulových hodnot
len(lchain_data.dropna(axis=0, thresh = 11))

6731

In [95]:
# Vyplnit chybějící hodnoty
stock_data = {
    'BID_price': [449, 448, None, None],
    'ASK_price': [451, None, 450, None],
    'BID_quantity': [1115, 2479, None, None],
    'ASK_quantity': [858, None, 9482, None]
}
stock_data = pd.DataFrame(stock_data)
stock_data.head()


# Metoda 'ffill'vyplní následující řádek hodnotou z předešlého řádku
stock_data.fillna(method = 'ffill')

   BID_price  ASK_price  BID_quantity  ASK_quantity
0      449.0      451.0        1115.0         858.0
1      448.0      451.0        2479.0         858.0
2      448.0      450.0        2479.0        9482.0
3      448.0      450.0        2479.0        9482.0

# Filtrovani dat

In [97]:
# Výber jenom žen
lchain_data[lchain_data['sex'] == 'female'].head(n=20)

,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death,chapter,lambda_dec
1,97,female,1997,5.700,4.860,10,1.7,0,85,1,Circulatory,86
2,92,female,2000,0.870,0.683,1,0.9,0,1281,1,Neoplasms,6829999999999999
3,94,female,1997,4.360,3.850,10,1.4,0,69,1,Circulatory,85
4,92,female,1996,2.420,2.220,9,1.0,0,115,1,Circulatory,22
5,93,female,1996,1.320,1.690,6,1.1,0,1039,1,Circulatory,69
6,90,female,1997,2.010,1.860,9,1.0,0,1355,1,Mental,86
7,90,female,1996,0.430,0.880,1,0.8,0,2851,1,Mental,88
8,90,female,1999,2.470,2.700,10,1.2,0,372,1,Nervous,7
9,93,female,1996,1.910,2.180,9,1.2,0,3309,1,Respiratory,18
10,91,female,1996,0.791,2.220,6,0.8,0,1326,1,Circulatory,22
11,96,female,1996,2.380,2.170,9,1.3,0,2776,1,Circulatory,17
12,90,female,1996,3.960,3.950,10,1.1,0,1046,1,Respiratory,95
13,90,female,1996,0.830,1.400,3,0.9,0,667,1,Circulatory,4
14,97,female,1996,4.530,4.080,10,2.0,0,51,1,Neoplasms,08
15,90,female,1996,2.710,1.810,9,1.1,0,1286,1,Circulatory,81
16,90,female,1997,1.510,1.460,6,NaN,0,1626,1,Circulatory,46
17,93,female,1997,1.600,1.750,7,0.9,0,1914,1,Circulatory,75
18,95,female,1997,1.880,2.430,9,1.9,0,874,1,Circulatory,43
19,94,female,1996,2.600,6.700,10,1.8,0,91,1,Neoplasms,7
20,94,female,1996,1.800,2.290,9,1.0,0,1903,1,Circulatory,29

In [99]:
len(lchain_data[(lchain_data['sex'] == 'female') & (lchain_data['sample.yr'] > 2000)])

220

In [100]:
len(lchain_data[(lchain_data['sex'] == 'female') | (lchain_data['sample.yr'] > 2000)])

4575

In [101]:
len(lchain_data[(lchain_data['sex'] == 'female')])

4350

In [106]:
len(lchain_data[lchain_data['sample.yr'] > 2000])

445

In [107]:
# Výber pac, kteří přežili
lchain_data[lchain_data['death'] != 1].head()

,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death,chapter,lambda_dec
24,90,female,1996,2.19,2.45,9,1.1,0,2845,0,NaN,45
30,93,female,1996,1.57,2.25,8,0.8,0,2498,0,NaN,25
32,91,female,1996,0.43,0.94,1,0.9,0,2905,0,NaN,94
78,91,female,1995,3.14,2.85,10,1.1,0,315,0,NaN,85
81,92,female,1996,2.61,3.48,10,1.0,0,166,0,NaN,48

# Seskupování dat - groupby

In [111]:
# Vytvoření podmnožiny dat 
# Gropby vytvoří iterátor, pomocí kterého můžeme procházet prvky 
# (v tomto případě části DataFrame rozděleného dle hodnoty sloupce 'sex')
# potom na tyto prvky aplikujeme metody mean()
lchain_data.groupby('sex').mean()

,age,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death
sex,,,,,,,,,
female,65.233103,1996.731724,1.367039,1.645514,5.254023,0.987695,0.015632,3696.028046,0.267816
male,63.132804,1996.863791,1.509688,1.773120,5.737798,1.223158,0.013337,3617.856129,0.284904

In [116]:
lchain_data.groupby('flc.grp').kappa.mean()

flc.grp
1     0.553563
2     0.827147
3     0.985302
4     1.111802
5     1.227574
6     1.331164
7     1.492248
8     1.676882
9     1.973824
10    3.197666
Name: kappa, dtype: float64

In [121]:
# get_group vytáhne jenom řádky obsahujícíc hodnotu 'female' u sloupce 'sex' 
LC1 = lchain_data.groupby('flc.grp').get_group(1)

LC1_alt = lchain_data[lchain_data['flc.grp'] == 1]

In [127]:
lchain_data.groupby(['sex', 'flc.grp']).mean()

                      age    sample.yr     kappa    lambda  creatinine  \
sex    flc.grp
female 1        61.468432  1996.319756  0.554251  0.784783    0.893233
       2        61.835443  1996.761603  0.817941  1.110865    0.925526
       3        62.097107  1996.628099  0.981236  1.229618    0.925700
       4        63.935345  1996.721983  1.097459  1.347918    0.940000
       5        63.529954  1996.755760  1.223931  1.456509    0.948563
       6        65.129496  1996.652278  1.321954  1.609976    0.960000
       7        66.765116  1996.893023  1.491751  1.715628    0.973743
       8        67.255495  1996.997253  1.668995  1.923626    1.010231
       9        69.719212  1996.793103  1.957712  2.272938    1.033333
       10       73.380829  1996.924870  3.047668  3.526736    1.305539
male   1        59.629496  1996.629496  0.552349  0.778999    1.111404
       2        60.056380  1996.620178  0.840096  1.105434    1.131047
       3        60.014881  1996.770833  0.991161  1.224329    1.129433
       4        60.468944  1996.844720  1.132469  1.317155    1.147148
       5        60.638655  1996.910364  1.232003  1.450176    1.143158
       6        62.197861  1996.959893  1.341433  1.583885    1.146801
       7        62.944149  1997.023936  1.492816  1.726511    1.206369
       8        64.674863  1996.907104  1.684727  1.912077    1.211401
       9        66.738035  1996.969773  1.990302  2.249849    1.246784
       10       71.614173  1996.900262  3.349633  3.862520    1.649555

                    mgus       futime     death
sex    flc.grp
female 1        0.112016  4108.737271  0.156823
       2        0.018987  4021.902954  0.141350
       3        0.004132  4031.326446  0.173554
       4        0.002155  3901.129310  0.206897
       5        0.000000  3849.016129  0.200461
       6        0.002398  3792.316547  0.278177
       7        0.000000  3621.506977  0.283721
       8        0.000000  3463.307692  0.348901
       9        0.000000  3362.374384  0.391626
       10       0.000000  2481.292746  0.595855
male   1        0.125899  4108.784173  0.136691
       2        0.011869  4078.804154  0.160237
       3        0.005952  3897.761905  0.172619
       4        0.006211  3936.900621  0.186335
       5        0.011204  3895.921569  0.187675
       6        0.000000  3745.024064  0.251337
       7        0.000000  3641.005319  0.255319
       8        0.000000  3526.991803  0.330601
       9        0.000000  3308.347607  0.403023
       10       0.000000  2337.013123  0.671916

In [129]:
lchain_data.groupby('flc.grp').get_group(1).death.sum()

115

In [133]:
len(lchain_data[(lchain_data['flc.grp'] == 1) & (lchain_data['death'] == 1)])

115

In [205]:
LCbyYEAR = lchain_data.groupby('sample.yr')            #zjisti v jakem roce bylo do studie zaregistrovano najvice
LCbyYEAR['age'].count().idxmax()

1996

In [209]:
lchain_data.groupby('sample.yr').age.count().idxmax()  #dtto ale elegantnejsi

1996

In [214]:
LC2 = lchain_data.groupby('flc.grp').death             # spocita v jake skupine zemrela nejvetsi cast lidi
(LC2.sum()/LC2.count()).idxmax()

10

In [215]:
lchain_data.groupby('flc.grp').death.mean().idxmax()   # dtto

10

In [12]:
phones = pd.read_csv('https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/WorldPhones.csv')
phones
#Přetransformujte data tak, aby měla 3 sloupce: kontinent, rok, počet telefonů

   Unnamed: 0  N.Amer  Europe  Asia  S.Amer  Oceania  Africa  Mid.Amer
0        1951   45939   21574  2876    1815     1646      89       555
1        1956   60423   29990  4708    2568     2366    1411       733
2        1957   64721   32510  5230    2695     2526    1546       773
3        1958   68484   35218  6662    2845     2691    1663       836
4        1959   71799   37598  6856    3000     2868    1769       911
5        1960   76036   40341  8220    3145     3054    1905      1008
6        1961   79831   43173  9053    3338     3224    2005      1076

In [20]:
phones = phones.rename(columns={'Unnamed: 0': 'Year'})
phones.columns

Index(['Year', 'N.Amer', 'Europe', 'Asia', 'S.Amer', 'Oceania', 'Africa',
       'Mid.Amer'],
      dtype='object')

In [24]:
phones_melt = pd.melt(
    phones, id_vars=['Year'])
phones_melt

    Year  variable  value
0   1951    N.Amer  45939
1   1956    N.Amer  60423
2   1957    N.Amer  64721
3   1958    N.Amer  68484
4   1959    N.Amer  71799
5   1960    N.Amer  76036
6   1961    N.Amer  79831
7   1951    Europe  21574
8   1956    Europe  29990
9   1957    Europe  32510
10  1958    Europe  35218
11  1959    Europe  37598
12  1960    Europe  40341
13  1961    Europe  43173
14  1951      Asia   2876
15  1956      Asia   4708
16  1957      Asia   5230
17  1958      Asia   6662
18  1959      Asia   6856
19  1960      Asia   8220
20  1961      Asia   9053
21  1951    S.Amer   1815
22  1956    S.Amer   2568
23  1957    S.Amer   2695
24  1958    S.Amer   2845
25  1959    S.Amer   3000
26  1960    S.Amer   3145
27  1961    S.Amer   3338
28  1951   Oceania   1646
29  1956   Oceania   2366
30  1957   Oceania   2526
31  1958   Oceania   2691
32  1959   Oceania   2868
33  1960   Oceania   3054
34  1961   Oceania   3224
35  1951    Africa     89
36  1956    Africa   1411
37  1957    Africa   1546
38  1958    Africa   1663
39  1959    Africa   1769
40  1960    Africa   1905
41  1961    Africa   2005
42  1951  Mid.Amer    555
43  1956  Mid.Amer    733
44  1957  Mid.Amer    773
45  1958  Mid.Amer    836
46  1959  Mid.Amer    911
47  1960  Mid.Amer   1008
48  1961  Mid.Amer   1076