In [41]:
# Spočítejte, kolik pasažérů má jenom jedno křestní jméno. (Nápověda: použijte funkci str.len())

# nevím jak tu využít str.len(), ale tady je moje řešení

import pandas as pd
import numpy as np

titanic = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')   #nacte data

titanic["first&middle_name"] = titanic["name"].str.split(".").str.get(1)                          #vybere ze jména jen část bez oslovení a přijmení
titanic_namedf = pd.DataFrame(titanic["first&middle_name"])                                       #převede znovu na dataframe
titanic_namedf["first&middle_name"] = titanic_namedf["first&middle_name"].str.lstrip()            #odstraní mezeru co zbyla na začátku
titanic_namedf["1middle_name"] = titanic_namedf["first&middle_name"].str.split(" ").str.get(1)    #vybere jméno za prvním křestním, pokud existuje

print("Pocet pasazeru s pouze jedním krestním jménem je: {}".format(                              #spočítá jaký kolik pasažérů mělo ještě nějaké jméno za prvním křestním (downside je že neřeší přezdívky a věci typu "Jr", "D" apod., asi by se dalo řešit nějakou iterací s rozpoznáním uvozovek a jmen pod tři písmena délky)
    len(titanic_namedf["1middle_name"]) - titanic_namedf["1middle_name"].count()))                #a vytiskne zprávu

Pocet pasazeru s pouze jedním krestním jménem je: 464

In [70]:
# Zjistěte, ve kterém záchranném člunu bylo nejvíce lidí. (Nápověda: použijte funkci groupby() a argmax())

import pandas as pd
import numpy as np

titanic = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')   #nacte data

titanic_saved = titanic[titanic['boat'].notnull()]                      #zahodi pasazery co nebyli zachraněni
dabest_boat = titanic_saved.groupby("boat").name.count().argmax()                     
#za predpokladu ze kazdý pasazer mel jmeno (muzeme overit pomoci titanic.isnull().any()) vrati lod s nejvetsim poctem zachranenych

print("Loď číslo {} je hrdinou dne, zachránila {} lidí!".format(dabest_boat,titanic_saved.groupby("boat").name.count()[dabest_boat]))

Loď číslo 13 je hrdinou dne, zachránila 39 lidí!

In [ ]:
# Alt. řešení 1. úkolu viz zápisky z lekce 11